body{
    background: #fc3a3a;
    font-family: tahoma;
    color: #070707;
}

#todo-table{
    position: relative;
    width: 95%;
    background: #f9f9f9;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
}

#todo-table form:after{
    margin: 0;
    content: '';
    display: block;
    clear: both;
}

input[type="text"]{
    width: 70%;
    padding: 20px;
    background:#f9f9f9;
    border: 0;
    float: left;
    font-size: 20px;
    color: #989898;
}

button{

    padding: 20px;
    width: 30%;
    background: #fc3a3a;
    color: #ffffff;
    float: left;

    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li{
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    font-family: arial;
    font-size: 20px;
    cursor: pointer;
    letter-spacing: 1px;
}

li:hover{
    text-decoration: line-through;
    background: rgba(0,0,0,0.2);
}

h1{
    background: url(/assets/todoLogo.png) no-repeat center;
    margin-bottom: 0;
    text-indent: -10000px;
}
